@using Groovy.Services
@inject AudioPlayerService AudioPlayerService

<h3>On Playing</h3>
<p>@AudioPlayerService.AudioUrl</p>
<p>Current Position: @AudioPlayerService.CurrentPosition</p>
<p>Total Duration: @AudioPlayerService.TotalDuration</p>

<button @onclick="Play">Play</button>
<button @onclick="Pause">Pause</button>
<button @onclick="Stop">Stop</button>

<input type="range" min="0" max="@AudioPlayerService.TotalDuration.TotalSeconds"
       value="@AudioPlayerService.CurrentPosition.TotalSeconds" @oninput="SeekToPosition" />

@code {
    private void Play()
    {
        AudioPlayerService.Play();
    }

    private void Pause()
    {
        AudioPlayerService.Pause();
    }

    private void Stop()
    {
        AudioPlayerService.Stop();
    }

    private void SeekToPosition(ChangeEventArgs e)
    {
        double newPosition = Convert.ToDouble(e.Value);
        AudioPlayerService.SeekTo(TimeSpan.FromSeconds(newPosition));
    }

    protected override void OnInitialized()
    {
        AudioPlayerService.OnAudioStateChanged += StateHasChanged;
    }
}