@using Core.Models;
@using Groovy.Services.Contracts;
@using Groovy.Components.Buttons;
@inject IJSRuntime JSRuntime
@inject IAudioPlayerService AudioPlayerService

<div class="TrackInfoComponent">
    <button 
        class="TrackInfoButton"
        @onclick="() => SeleccionarAudio(Track.Path)"    
    >
        <img
            src=@Track.Imagen
            alt="Album Art"
        >
        <div class="track-info">
            <p>@Track.Title</p>
            <p>
                @foreach (var artist in @Track.Artists)
                {
                    @artist
                }
            </p>
            <p class="pcview">@Track.Track</p>
            <p class="pcview">@Track.Duration</p>
            <p class="pcview">@Track.Year</p>
            <p class="pcview">@Track.Genres</p>
        </div>
    </button>
    <MoreButton />
</div>

@code {
    [Parameter] public Audio Track { get; set; }

    private void SeleccionarAudio(string audioUrl)
    {
        AudioPlayerService.ChangeTrack(Track);
    }
}