@using Core.Models;
@using Groovy.Services.Contracts;
@inject IJSRuntime JSRuntime
@inject IAudioPlayerService AudioPlayerService

<div>
    <button @onclick="() => SeleccionarAudio(Track.Path)">Select</button>
    <p>@Track.Title</p>
    <p>@Track.Track</p>
    <p>@Track.Album</p>
    <p>@Track.Year</p>
    <p>@Track.Genres</p>
    <p>@Track.Duration</p>
</div>

@code {
    [Parameter] public Audio Track { get; set; }

    private void SeleccionarAudio(string audioUrl)
    {
        ;
    }
}